worker/public/css/** linguist-vendored
worker/public/fonts/* linguist-vendored
worker/public/img/* linguist-vendored
worker/public/js/* linguist-vendored
worker/public/js/search.js -linguist-vendored
worker/public/404.html linguist-vendored
worker/public/resource.html linguist-vendored

web/css/** linguist-vendored
web/fonts/* linguist-vendored
web/img/* linguist-vendored
web/js/* linguist-vendored
web/js/analytics.js -linguist-vendored
web/404.html linguist-vendored
web/resource.html linguist-vendored

tests/data/* linguist-vendored
