worker/public/css/* linguist-vendored
worker/public/fonts/* linguist-vendored
worker/public/img/* linguist-vendored
worker/public/js/* linguist-vendored

worker/*.html linguist-vendored
tests/data/* linguist-vendored