tools/worker/public/css/** linguist-vendored
tools/worker/public/fonts/* linguist-vendored
tools/worker/public/img/* linguist-vendored
tools/worker/public/js/* linguist-vendored
tools/worker/public/js/search.js -linguist-vendored
tools/worker/public/404.html linguist-vendored
tools/worker/public/resource.html linguist-vendored

yyetsweb/css/** linguist-vendored
yyetsweb/fonts/* linguist-vendored
yyetsweb/img/* linguist-vendored
yyetsweb/js/* linguist-vendored
yyetsweb/404.html linguist-vendored
yyetsweb/resource.html linguist-vendored

yyetsweb/js/common.js -linguist-vendored

tests/data/* linguist-vendored
