version: '3.1'

services:
  redis:
    image: redis:7-alpine
    restart: always
    logging:
      driver: none

  mongo:
    image: mongo:6
    restart: always
    volumes:
      - ./mongo_data/mongodb:/data/db
    command: --quiet
    logging:
      driver: none
    ports:
      - "127.0.0.1:27017:27017"

  socat:
    image: bennythink/socat
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: [ "socat", "tcp-listen:2375,fork,reuseaddr","unix-connect:/var/run/docker.sock" ]
    logging:
      driver: none

  mailhog:
    image: cd2team/mailhog
    restart: unless-stopped
    logging:
      driver: none

  bot:
    image: bennythink/yyetsbot
    depends_on:
      - redis
      - mongo
      - socat
    restart: always
    env_file:
      - env/yyets.env

  web:
    image: bennythink/yyetsbot
    restart: always
    env_file:
      - env/yyets.env
    depends_on:
      - mongo
      - redis
    working_dir: /YYeTsBot/yyetsweb/
    command: [ "python3","server.py","-h=0.0.0.0" ]
    ports:
      - "127.0.0.1:8888:8888"
      - "172.17.0.1:8888:8888"
