requests==2.27.0
pytelegrambotapi==4.2.2
beautifulsoup4==4.10.0
tgbot-ping
redis==3.5.3
apscheduler==3.8.1
pymongo==3.11.2
tornado==6.1
redis==3.5.3
captcha==0.3
passlib==1.7.4
fakeredis==1.7.0
pytz==2021.3
filetype==1.0.7
requests[socks]
tqdm==4.61.1
retry==0.9.2
pymysql
git+https://github.com/tgbot-collection/python-akismet
openpyxl