[Unit]
Description=A Telegram Bot for YYeTs
After=network.target network-online.target nss-lookup.target

[Service]
User=nobody
Restart=on-failure
Type=simple
ExecStart=/usr/bin/python3 /home/YYeTsBot/bot.py

[Install]
WantedBy=multi-user.target